{% extends 'base.html' %}
{% load static %}
{% block title %} Employee List {% endblock %}

{% block content %}

{% include 'nav.html' %}
<div class="container ">
    <div class="row my-2 justify-content-start ">
        {% for obj in object %}

        <div class=" col-ls-4 col-md-4 col-sm-6 mb-2 ">

            <div class="card  text-center p-2 shadow ">
                <h4 class="card-title py-2">{{obj.name}} </h4>
                <p>
                    <span class=" bg-info p-1">Position: {{obj.designation}}</span>
                    <span class="bg-warning p-1">Salary: $ {{obj.salary}}</span>
                </p>
                <div class="">
                    <p class="cart-text">
                        {{obj.short_desc|truncatewords:8}}
                    </p>
                </div>
                <div class="">
                    <a href="{% url 'detail' obj.id %}" class="btn btn-success">View More</a>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}